<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CoreSlots" type="CCMS.CustomConfiguration,CCMS"/>
    <!-- section name="ContentSlots" type="CCMS.CustomConfiguration,CCMS" />
    <section name="CustomSlots" type="CCMS.CustomConfiguration,CCMS" / -->
    
  </configSections>

  <CoreSlots>
    <add value="CCMS_TITLE"/>
    <add value="CCMS_KEYWORDS"/>
    <add value="CCMS_DESCRIPTION"/>
    <add value="CCMS_AUTHOR"/>
  </CoreSlots>
  
  <!-- ContentSlots>
    <add value="CCMS_CONTENT1" />
    <add value="CCMS_CONTENT2" />
    <add value="CCMS_CONTENT3" />
    <add value="CCMS_CONTENT4" />
    <add value="CCMS_CONTENT5" />
    <add value="CCMS_CONTENT6" />
  </ContentSlots -->  
  
  
	<appSettings>
		<!-- database connection params -->
		<add key="dbdriver" value="{SQL Server}"/>
		<add key="dbserver" value="SHUB-NIGGURATH"/>
		<add key="dbname" value="ccms"/>
		<add key="dbuser" value="ccms"/>
		<add key="dbpassword" value="Asteroth666"/>

    <!-- template path -->
    <add key="TemplateBasePath" value="C:\Dev\CCMS.NET - rebuild\ccms.templates"/>
    
    <!-- -->
    <add key="DeploymentType" value="local"/>

    <!-- logging (log4CCMS) -->
		<add key="logging" value="on"/>
		<add key="loglevel" value="trace"/>
		
		<!-- cache settings -->
		<add key="usecache" value="true"/>
		<add key="cachetimeout" value="10"/>	
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <services>
   <service name="ccms.Service1">
    <endpoint address="" binding="wsHttpBinding" contract="ccms.IService1">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8732/Design_Time_Addresses/CCMS/Service1/" />
     </baseAddresses>
    </host>
   </service>
   <service name="ccms.LoginService">
    <endpoint address="" binding="wsHttpBinding" contract="ccms.ILoginService">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8732/Design_Time_Addresses/CCMS/LoginService/" />
     </baseAddresses>
    </host>
   </service>
  </services>
 </system.serviceModel>
</configuration>
